<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <a href="<%= url('/') %>">Webhooks</a> /
        <b>
          <% if @application.id %>
            Manage webhook
          <% else %>
            Add webhook
          <% end %>
        </b>
      </div>
      <div class="panel-body">
        <p>
          We will send a POST request to your webhook&rsquo;s
          <strong>URL</strong> whenever EveryPolitician&rsquo;s
          data changes.
        </p>

        <hr>

        <p>Register a new webhook:</p>

        <% if @application.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <p>Some errors prevented this application from being saved:</p>
            <ul>
              <% @application.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <form method="post" action="<%= @application.id ? url("/webhooks/#{@application.id}") : url('/webhooks') %>">
          <% if @application.id %>
            <input type="hidden" name="_method" value="patch">
          <% end %>
          <div class="form-group <%= @application.errors.on(:name) ? 'has-error' : '' %>">
            <label class="control-label" for="application_name">Webhook name *</label>
            <input type="text" id="application_name" name="application[name]" class="form-control" value="<%= @application.name %>" >
          </div>

          <div class="form-group <%= @application.errors.on(:webhook_url) ? 'has-error' : '' %>">
            <label class="control-label" for="application_webhook_url">Webhook URL *</label>
            <input type="url" id="application_webhook_url" name="application[webhook_url]" class="form-control" placeholder="https://example.org/webhook_handler" value="<%= @application.webhook_url %>" >
          </div>

          <div class="form-group <%= @application.errors.on(:legislature) ? 'has-error' : '' %>">
            <label class="control-label" for="application_legislature">Legislature</label>
            <select id="application_legislature" name="application[legislature]" class="form-control">
                <option value="">All legislatures</option>
                <% @countries.each do |country| %>
                    <% country.legislatures.each do |legislature| %>
                        <% dir = legislature_for_file(legislature.raw_data[:sources_directory]) %>
                        <option <%= @application.legislature == dir ? 'selected ' : '' %>value="<%= dir %>"><%= country.name %> - <%= legislature.name %></option>
                    <% end %>
                <% end %>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label" for="application_secret">Secret</label>
            <% if !@application.secret || @application.secret.empty? %>
              <input autocomplete="off" class="form-control" type="password" id="application_secret" name="application[secret]">
            <% else %>
              <div class="js-webhook-secret webhook-secret">
                <div class="webhook-secret-standin">
                  ∗∗∗∗∗∗∗∗∗∗∗∗∗∗∗∗
                  —
                  <a href="#edit" class="js-details-target">Edit</a>
                </div>
                <div class="webhook-secret-field">
                  <input autocomplete="off" class="form-control" disabled="disabled" id="application_secret" name="application[secret]" type="password">
                  <a href="#cancel" class="js-details-target">Cancel</a>
                </div>
              </div>
            <% end %>
          </div>

          <% if @application.id %>
            <input type="submit" value="Update webhook" class="btn btn-default btn-success" data-disable-with="Saving...">
            <a href="<%= url("/webhooks/#{@application.id}") %>" class="btn btn-default btn-danger" data-confirm="Are you sure you want to delete this webhook?" data-method="delete" rel="nofollow" role="button">Delete webhook</a>
          <% else %>
            <input type="submit" value="Create webhook" class="btn btn-default btn-success" data-disable-with="Saving...">
          <% end %>
        </form>
      </div>

    </div>
  </div>
</div>
