<% if current_user %>

  <h1>Applications</h1>
  <ul>
    <% @applications.each do |application| %>
      <li><a href="<%= url "/applications/#{application.id}" %>"><%= application.name %></a></li>
    <% end %>
  </ul>

  <% if @application.errors.any? %>
    <p>Some errors prevented this application from being saved:</p>
    <ul>
    <% @application.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <form method="post" action="<%= url '/applications' %>">    
    <p>
      The <strong>application name</strong> helps identify your
      application (especially handy if you have more than one).
      <br>
      The app manager will send a POST request to your application&rsquo;s
      <strong>webhook URL</strong> whenever EveryPolitician&rsquo;s
      data changes. 
    </p>
    <p>Register a new application:</p>
    <div class="form-group">
      <label for="application_name">Application name</label>
      <input type="text" id="application_name" name="application[name]" class="form-control">
    </div>

    <div class="form-group">
      <label for="application_webhook_url">Webhook URL</label>
      <input type="url" id="application_webhook_url" name="application[webhook_url]" class="form-control">
    </div>

    <input type="submit" value="Create" class="btn btn-default">
  </form>

<% else %>

    <p class="login-prompt">
        <a href="<%= url '/auth/github' %>">Log in with GitHub</a>
        to create your first app.
    </p>

<% end %>
